node_modules/
tmp/
log/*.log
public/packs/
tmp/cache/assets/
tmp/cache/bootsnap/
tmp/pids/
db/development.sqlite3
config/master.key

/app/assets/builds/*
!/app/assets/builds/.keep

# Local env
.env.local

# Generated assets (optional; only if you don't want to track precompiled assets)
# public/assets/
