<!DOCTYPE html>
<html>
  <head>
    <title>Chain of Custody – Batch <%= @batch.id %></title>
  </head>
  <body>
    <h1>Chain of Custody</h1>
    <p>Batch ID: <%= @batch.id %></p>
    <p>Downloaded by: <%= current_user&.email %></p>
  </body>
</html>
